.MainContainer{
    position: fixed;
    bottom: 100px;
    left: 0px;
    width: 100%;    
    height: fit-content;
    display: flex;
    flex-direction: column;   
    align-items: center; 
    z-index: 70;
    background-color: var(--notebookBackColor);    
    padding-bottom: 1em;
    
}

.SearchNavBarResults{
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: flex-start;
    padding: 0.4em 1.2em ;
    width: 100%; 
    max-width: 360px;  
    font-size: 1.4em;
    
}

.SearchNavBarButtons{
    width: 100%;    
    display: flex;
    flex-direction: column;  
    align-items: center; 
    row-gap: 10px;
}
