.RowSelectContainer{
  width: 100%;
  padding: 12px 0;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: flex-start;
  border-bottom: 2px var(--rowNormalColor) solid;
  color: var(--textNormalColor);  
}

.RowSelectText{
  padding: 2px 16px 2px 50px;
  font-size: calc(var(--rowFontSize) * 1.2);  
  margin: 0;
  font-weight: 300;
  user-select: none;
  width: 50%;
}

.select{
  font-size: var(--rowFontSize) ;
  border-radius: 5px;
  padding: 6px 8px;
  width: 40%;
}
.option{  
  padding: 10px;
}

