.button {  
  border: none;
  padding: 4px 8px;
  background-color: transparent;
  cursor: pointer;
  transition: var(--rowIconTransition);
}
.button:hover{
  transition: var(--rowIconTransition);
  transform: var(--rowIconAnimation);
}

.button svg{
  width: var(--rowActionIconsSize);
  height: var(--rowActionIconsSize);
  color: var(--notebookAccentColor);
}