::placeholder {
  color: var(--textNormalColor);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12-18 */
  color: var(--textNormalColor);
}

.container {
    display: flex;
    align-items: center;
    background-color: var(--rowNormalColor); 
    border-radius: 10px 50px  50px 10px;
    padding: 5px 10px 5px 16px;
    width: 96%;
    height: auto;     
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    z-index: 10;
  }
  
  .input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    font-family: var(--appFontFamily);
    font-size: var(--rowFontSizeButton);  
    font-size: 1.2em;    
    font-weight: 600;
    color: var(--textNormalColor); 
    
  }
  
  .button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: var(--textNormalColor); /* Color del signo '+' */
    font-size: var(--rowActionIconsSize);
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Fondo al hacer hover */
  }
  
  .plus {
    margin-top: -2px; /* Alinea el símbolo '+' */
  }
  