.listItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    padding: 4px 12px 4px 50px;
    border-bottom: 2px solid var(--rowNormalColor); /* Línea inferior */
  }
  
  .checkbox {
    width: 60px;
    height: 40px;    
    display: flex;
    align-items: center;
    justify-content: center;    
    cursor: pointer;
    
    transition: background-color 0.3s, border 0.3s;
    
  }
  
  .checkedBox {
    background-color: var(--notebookAccentColor);
    border-color: var(--notebookAccentColor);
    font-size: 34px;
  }
  
  .checkmark {
    color: white;
    font-size: 34px;
    font-weight: bold;
  }
  
  .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;      
    font-size: var(--rowFontSize);    
    color: var(--textNormalColor);
    background-color: var(--bodyBackgroundColor);
    font-weight: 400;    
    user-select: none;
    transition:  var(--rowIconTransition);
    border: solid 2px var(--textNormalColor);
    border-radius: 50px;
    padding: 0 12px;
    
    column-gap: 8px;
  }
  .text:hover{
    transform: scale(1.08) translate(5px, 0px);
    transition:  var(--rowIconTransition)
  }
  
  .checkedText {
    text-decoration: line-through;
    color: var(--textNormalColor);
    border: solid 2px var(--notebookBackColor);
    user-select: none;
    transition:  var(--rowIconTransition);
    background-color: var(--rowNormalColor);
    box-shadow: none;
  }
  
  .eyeIcon {
    width: var(--rowActionIconsSize);
    height: var(--rowActionIconsSize);
    color: var(--notebookAccentColor);
    cursor: pointer;
    margin-left: 10px;
  }
 