::placeholder {
  color: var(--textNormalColor);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12-18 */
  color: var(--textNormalColor);
}

  .button {
    display: flex;
    flex-direction: row;   
    align-items: center;   
    column-gap: 16px;   
    border-radius: 50px 10px  10px 50px;
    border: solid 1px var(--textNormalColor);    
    padding: 10px 10px 10px 16px;    
    width: 96%;
    height: auto;    
    color: var(--textNormalColor);     
    font-size: var(--rowFontSizeButton);    
    font-size: 0.9em;    
  }
  
  .text {        
    font-family: var(--appInfoFontFamily);
    color: var(--textNormalColor); 
    text-transform: uppercase;
    font-weight: 600;
  }  
  
 
  
  
  