.MiniListContainer{
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 20px;    
    padding: 140px 10px  140px  10px;
    
}