:root{
    --notebookBackColor: #8f5c3e;
    --bodyBackgroundColor: #0F060B;
    --notebookAccentColor: #3F0113;   
    --rowNormalColor: #aa5b1e;
    --rowAccentColor: #3F0113;
    --rowSecondaryColor: #a79388;
    --textNormalColor: #dfb08c;
}