:root{
    --notebookBackColor: #F3F3F3;
    --bodyBackgroundColor: #EBF4FF;
    --notebookAccentColor: #79a8ff;   
    --rowNormalColor: #A9D1FF;
    --rowAccentColor: #FFC1C1;
    --rowSecondaryColor: #CCC;
    --textNormalColor: #001233;
}