.headerContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 0;
  text-align: left;
  border-bottom: 4px var(--rowAccentColor) solid;  
  color: var(--textNormalColor);
  font-size: var(--rowHeaderFontSize);
}

.headerTitle{  
  padding: 0px 16px 0px 50px;  
  margin: 0;
  font-weight: normal;
  font-size: 1em;
}
.headerSubtitle{
  padding: 0px 16px 0px 50px;
  margin: 0;
  font-size: 0.7em;  
  font-weight: 300;
}

.headerImage{
  width: 100px;
  height: 70px;
}
