
.ItemCategoryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;    
    width: 100%;   
    column-gap: 8px;
    padding: 0.2rem 0;
    cursor: pointer;
    position: relative;
  }
  
  .ItemCategoryText {       
    font-size: var(--rowFontSize);    
    padding: 4px 12px;
    border-radius: 5px;
    width: 100%;    
    width: fit-content;
    /* border: 2px solid var(--rowAccentColor); */
    background-color: var(--rowAccentColor);
  }
  
  .ItemCategoryContainer svg {
    color: var(--notebookAccentColor); 
    height: var(--rowActionIconsSize);
    width: var(--rowActionIconsSize);
  }
  
