.modalChangeCatInput{
    padding: 8px 10px;    
    font-family: var(--appInfoFontFamily);
    background: none;    
    font-family: inherit;
    font-size: var(--rowFontSizeButton);      
    color: var(--textNormalColor); 
}

.modalChangeCatCategoriesDropdown{
    list-style: none;
}

.modalChangeCatCategoriesDropdown>li{
    display: flex;
    column-gap: 8px;
    padding: 8px;
}