.RowLabelContainer{
  width: 100%;
  padding: 2px 10px 2px 44px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px var(--rowAccentColor) solid;
  color: var(--textNormalColor);  
  font-family: var(--appInfoFontFamily);
}

.RowLabelText{
  padding: 2px ;
  font-size: var(--rowFontSize);
  font-size: 0.9em;
  margin: 0;
  font-weight: 400;
  user-select: none;
}
.RowLabelInfo{
  width: 60px;   
  text-align: center;
  margin: 0;  
  font-size: 0.9em;
  user-select: none;
}

@media (min-width: 700px) {

  .RowLabelInfo{
    width: 110px;
  }
}